@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@1,500&display=swap');
/* font-family: 'Bebas Neue', cursive;
font-family: 'Playfair Display', serif; */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html{
  height: 100%;
}

body {
  background-color: #eeeeee;
  font-family: 'Bebas Neue', cursive; 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.notesWrapper {
  width: 100%;
  background-color: #eeeeee;
}

.notesHeader {
  width: 100%;
  background-color: #4f8a8b;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 4rem;
  color: #fbd46d;
}

.notesFooter {
  width: 100%;
  height: 10vh;
  background-color:#222831;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif; 
}